html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Demonstrates how to send a welcome email using Firebase Functions.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Payment
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css")
    link(rel="stylesheet" href="main.css")
  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      // Header section containing title
      header.mdl-layout__header.mdl-color-text--white
        .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-grid
          .mdl-layout__header-row.mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--8-col-desktop
            h3
              img(src='/images/YokeLogo.png', width='75', height='75', alt='W3C')
      main.mdl-layout__content
        .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-grid
          // Card containing the sign-in UI
          #demo-signed-out-card.mdl-card.mdl-shadow--2dp.mdl-cell
            .mdl-card__supporting-text.mdl-color-text--grey-600
              p
                | We use Stripe to make sure you get paid on time and to keep your personal bank and details secure.
                br
                strong Please use your YOKE account to sign in to get started!
                br
                input#sign-in-email(type='email' placeholder='Email' required='' autocomplete='off')
                br
                input#sign-in-password(type='password' placeholder='Password' required='' autocomplete='off')
                br
                button#sign-in-button.mdl-button--raised.mdl-button.mdl-js-button.mdl-js-ripple-effect(type='submit') Sign In
                button#forgot-password-link.auth(auth='show-forgot-password-form') Forgot Password?
                a(href='https://stripe.com/docs/connect') View Stripe Connect docs
                
          // Card containing the signed-in UI
          #demo-signed-in-card.mdl-card.mdl-shadow--2dp.mdl-cell
            .mdl-card__supporting-text.mdl-color-text--grey-600
              p
                | We use Stripe to make sure you get paid on time and to keep your personal bank and details secure. 
                br
                button#stripe-button.mdl-button--raised.mdl-button.mdl-js-button.mdl-js-ripple-effect Set up payments
                br
              p
                | Already have an account? 
                br
                button#stripe-dashboard Go to Stripe dashboard
                span#demo-url
                br
                span#demo-response 
              p
                button#demo-sign-out-button.mdl-button--raised.mdl-button.mdl-js-button.mdl-js-ripple-effect Sign out
                span#demo-url-cookie
                span#demo-response-cookie 
              
script(src='/__/firebase/6.4.1/firebase-app.js')
script(src='/__/firebase/6.4.1/firebase-auth.js')
script(src='/__/firebase/6.4.1/firebase-database.js')
script(src='/__/firebase/6.4.1/firebase-firestore.js')
script(src='/__/firebase/init.js')
script(src='main.js')
